<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mechanumdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find mechanumdrive_arduino)/urdf/mechanumbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find mechanumdrive_arduino)/urdf/mechanumbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find mechanumdrive_arduino)/ros2_control/mechanumbot.ros2_control.xacro" />

  <xacro:mechanumbot prefix="$(arg prefix)" />

  <xacro:mechanumbot_ros2_control
    name="MechanumBot" prefix="$(arg prefix)" />

</robot>
